@import '../../../colors'
@import '../../../extensions'
  
:host
  @extend %card__shadow
  display: block
  margin-bottom: 20px
  background-color: $black
  .nav-container
    .navs
      padding: 0.5rem
